/* 主页模块 */

.main-container-box {
    margin-top: 120px;
}

.main-container-nav {
    position: fixed;
    left: 0;
    top: 60px;
    background-color: #fff;
    width: 100%;
    height: 46px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    z-index: 2;
}

.main-container-nav .nav-list {
    position: relative;
    max-width: 960px;
    height: 100%;
    margin: auto;
}

.main-container-nav .nav-list .nav-item {
    height: 100%;
    line-height: 46px;
    font-size: 14px;
    color: #71777c;
    padding: 0 8px;
}

.main-container-nav .nav-list .nav-item:first-child {
    padding: 0 16px 0 0;
}

.main-container-nav .nav-list .nav-item.current,
.main-container-nav .nav-list .nav-item:hover {
    color: #007fff;
}

.main-container-nav .nav-list .nav-item:last-child {
    padding: 0 0 0 16px;
}

.main-container-nav .nav-list .nav-item.right {
    position: absolute;
    top: 0;
    right: 0;
}

.main-container-detail {
    position: relative;
}

.container-detail-list {
    width: 700px;
    height: 800px;
}

.detail-list-hd {
    background-color: #fff;
    padding: 20px 16px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.082);
}

.detail-list-hd .nav-item {
    float: left;
    font-size: 14px;
    padding: 0 18px;
    line-height: 16px;
    border-right: 1px solid rgba(151, 151, 151, 0.2);
}

.detail-list-hd .nav-item:last-child {
    border: none;
}

.detail-list-hd .nav-list .nav-item.current a,
.detail-list-hd .nav-list .nav-item a:hover {
    color: #007fff;
}

.entry-list {
    width: 100%;
    background-color: #fff;
}

.entry-list-item {
    width: 100%;
    height: 150px;
    position: relative;
    padding: 16px 20px 0;
}

.message-hd {
    height: 22px;
}

.message-hd .author,
.message-hd .date {
    float: left;
}

.message-hd .author>a {
    display: block;
    width: 162px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
    color: #4e5969;
}

.spacer {
    float: left;
    width: 1px;
    height: 14px;
    background-color: #e5e6eb;
    margin: 4px 8px;
}

.date {
    font-size: 14px;
    color: #86909c;
    line-height: 22px;
}

.message-bd {
    height: 98px;
    margin-top: 14px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e5e6eb;
}

.info-box {
    float: left;
    width: 500px;
    margin-right: 16px;
}

.info-box .title {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #1d2129;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box .introduction {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #4e5969;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-pic {
    display: block;
    float: left;
    width: 142px;
    height: 80px;
    border-radius: 2px;
}

.aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
}

.sidebar {
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;
    border-radius: 2px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.ad-img {
    width: 100%;
    height: 85px;
}

.app-stall {
    width: 100%;
    padding: 10px;
}

.app-pic {
    float: left;
    margin-right: 16px;
    width: 50px;
    height: 50px;
}

.app-content-hd {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1d2129;
}

.app-content-bd {
    margin-top: .5rem;
    font-size: 12px;
    line-height: 20px;
    color: #86909c;
}

.sidebar-user .user-hd {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);
}

.sidebar-user .user-bd .user-item {
    padding: 10px 15px;
}

.user-bd .user-item .user {
    width: 210px;
    height: 45px;
    display: block;
}

.user-bd .user-item>a>img {
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
}

.username {
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
}

.username .name {
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.username .level img {
    display: inline-block;
    width: 23px;
    height: 14px;
}

.user-info p {
    font-size: 12px;
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entire {
    display: block;
    color: #007fff;
    padding: 6px 0;
    text-align: center;
    border-top: 1px solid rgba(151, 151, 151, 0.1);
}

.entire i {
    font-family: 'icomoon';
}

.link-item {
    position: relative;
    padding: 10px;
}

.link {
    display: block;
    width: 220px;
    height: 36px;
}

.link-item img {
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.link-item span {
    font-size: 14px;
    line-height: 34px;
    color: #333;
}

.sidebar-more {
    min-width: 240px;
    background-color: #F4F5F6;
}

.more-list {
    width: 100%;
    height: 20px;
    font-size: 12px;
    line-height: 1.6;
    color: #9aa3ab;
}

.more-list .more-item {
    float: left;
    margin: 0 8px;
}

.platform {
    width: 100%;
    height: 25px;
    font-size: 14px;
    line-height: 14px;
    color: #9aa3ab;
    margin: 10px 0;
}

.platform-item {
    float: left;
    margin-right: 10px;
}

.platform-item a img {
    width: 24px;
    height: 24px;
}